:root {
    --banner-color-1: #3c5e6d;
}

body {
    flex: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: oklch(0.185 0 0);
    background-image: url("../img/about-bg.gif");
    background-repeat: repeat;
    overflow: scroll;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 900px;
}

.cardWrapper {
    display: flexbox;
    position: relative;
    width: 450px;
    aspect-ratio: 4 / 7;
    background-color: #1f1f1f;/*#10172b;*/
}

.cardWrapper .card {
    height: 100%;
    display: flexbox;
    overflow: hidden;
    position: relative;
    /*height: 800px;*/
    margin: 0 auto;
    /* This part can probably be changed later */
    
    border-radius: 8px;
    z-index: 1;
}

.tools {
    cursor: default;
    display: flex;
    position: relative;
    font-size: clamp(16px, 1.2vmin, 20px);
    height: fit-content;
    background-color: #1d1d1d;
    align-items: center;
    padding: 9px;
    opacity: 1;
    transition: 1000ms;
}

.tools:hover {
    mix-blend-mode: normal IM !important;
    background-color: #e8e8e8;
    transition: 1000ms;
}

.tools .iter-number {
    position: absolute;
    right: 15px;
    color: #79797995;
}

.tools a {
    cursor: pointer;
}

.specular {
    mix-blend-mode: color-dodge;
    background-attachment: fixed;
    background-size: 300%;
    background-image: linear-gradient(120deg, black 25%, var(--spec-channel) 40%, 65%, black);
    animation: 
        holoShimmer 3.8s linear infinite,
        shimShift 20.8s alternate infinite;

}

.holoshim {
    animation: holoShimmer 4.0s linear infinite;
}

@keyframes shimShift {
  0%   { background-position: 10% 50%; }
  50%  { background-position: 90% 50%; }
  80% { background-position: 70% 50%; }
  100% { background-position: 110% 50%; }
}

.content {
    cursor: default;
    mix-blend-mode: color-dodge;
}

.content .description {
    padding: 10px;
}

.content .cardID {
    width: 100%; 
    background-color: #363636; 
    padding-left: 20px; 
    position: absolute; 
    padding-top: 5px; 
    bottom: 0px; 
    height: 25px;
}

.card .cardCenter {
    color: #fff;
    cursor: default;
    max-width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 40px;
    position: absolute;
    opacity: 0.5;
    font-weight: bold;

    /* Centers Elements */
    transform: translate(-50%, -50%);  
    left: 50%; 
    top: 45%; 
    transition: 500ms;
}

.card .cardCenter .ts {
    font-size: 20px;
}

.card .linked_historical_text {
    margin: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
    width: 80%;
    /*background-color: #1d1d1db4;*/
    background: linear-gradient(120deg, var(--ch0) 25%, var(--ch1) 90%, black);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card .linked_historical_text:hover {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.781) 0%, var(--ch1) 60%, rgba(255, 255, 255, 0.904));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 2s ease-in-out;
}

.card .cardCenter:hover {
    background-color: #1d1d1db4;
    color: #e8e8e8;
    opacity: 0.75;
    transition: 1000ms;
}

.card .topElements {
    cursor: default; 
    position: absolute; 
    top: 25px;
}

.card .bottomElements {
    cursor: default;
    position: absolute;
    bottom: 30px;
}

.card .glyph-actual {
    font-size: 80px;
}

.mintshim:hover {
    background-color: rgba(223, 223, 223, 0.226);
    transition: .25s ease-in-out;
}

.mintshim .extrude {
    background-color: #1d1d1db4;
    font-family: monospace;
    display: none;
    position: absolute;
    margin-top: 10px;
    height: calc(100% - 10px);
    width: 300%;
    overflow: hidden;
    text-align: center;
    top: 0px;
    left: 100%;
    z-index: 5;
}

.mintshim .extrude a:hover {
    cursor: pointer;
}

.tools_selected {
    border-bottom: rgba(255, 255, 255, 0.664) 2px dotted;
}

.tools_selected:hover {
    border-bottom: #353535 3px dotted;
    border-top: #353535 3px dotted;
}

form h2 {
    font-family: Poppins, sans-serif;
    font-size: 34px;
    font-weight: 700;
    text-align: center;
}

.input-box {
    position: relative;
}

.input-box input {
  background: transparent;
  width: 84%;
  height: 100%;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  padding: 20px 45px 20px 20px;
  font-size: 16px;
}

input::placeholder {
  color: #fff;
  font-size: 16px;
}

.input-box i {
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
  font-size: 24px;
  color: #e8e8e8;
}

.input-box textarea {
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    color: #e8e8e8;
    width: 80%;
    height: 125px;
    resize: none;
}

.glyph-editor {
    width: 100%;
    display: flex;
    float: left;
    padding: 10px;
    position: relative;
}

.glyph-editor .idx-label {
    position: absolute;
    top: 20px;
    left: 15px;
    font-size: 12px;
    font-weight: bold;
    color: #e8e8e8;
    background-color: rgba(0,0,0,0.5);
    padding: 2px 4px;
    border-radius: 3px;
    pointer-events: none; /* Allows clicks to pass through, might be useful later */
}

.styles-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}