:root {
    --banner-color-1: #3c5e6d;
}

body {
    flex: auto;
    width: 100%;
    display: flexbox;
    align-items: center;
    justify-content: center;
    background-color: oklch(0.185 0 0);
    background-image: url("../img/about-bg.gif");
    background-repeat: repeat;
    overflow: scroll;
}

/* TODO Make this content holographic. */

.cardWrapper {
    display: flexbox;
    width: 450px;
    aspect-ratio: 4 / 7;
    background-color: #10172b;
}

.cardWrapper .card {
    height: 100%;
    display: flexbox;
    overflow: hidden;
    position: relative;
    /*height: 800px;*/
    margin: 0 auto;
    /* This part can probably be changed later */
    
    border-radius: 8px;
    z-index: 1;
}

.tools {
    cursor: default;
    display: flex;
    position: relative;
    font-size: clamp(16px, 1.2vmin, 20px);
    height: fit-content;
    background-color: #1d1d1d;
    align-items: center;
    padding: 9px;
    opacity: 1;
}

.tools:hover {
    mix-blend-mode: normal IM !important;
    background-color: #e8e8e8;
    transition: 1000ms;
}

.specular {
    mix-blend-mode: color-dodge;
    background-attachment: fixed;
    background-size: 160%;
    background-image: linear-gradient(120deg, black 25%, var(--banner-color-1) 45%, 70%, black);
    animation: 
        holoShimmer 3.8s linear infinite,
        shimShift 20.8s alternate infinite;

}

.holoshim {
    animation: holoShimmer 4.0s linear infinite;
}

@keyframes shimShift {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  80% { background-position: 75% 50%; }
  100% { background-position: 110% 50%;}
}
.content {
    cursor: default;
    mix-blend-mode: color-dodge;
}
